body {
	margin: 0px;
	font-family: Arial;
	background-color: #fff;
}

header p{
	margin: 0px;
	text-transform: capitalize;
	line-height: 1.5em;
	letter-spacing: 0.8px;
}


th, td {
	padding: 4px 7px;
}

td {
	padding: 3px;
}


.table {
	border: 1px solid darkgray;
	margin: 5px;
	border-radius: 8px;
	padding: 5px;
	margin-top: 0;
}

table h2 {
	margin-bottom: 0;
}
									